[Unit]
Description=jormungandr start on system reboot
After=multi-user.target

[Service]
Type=simple

# Absolute location of folder containing jormungandr
WorkingDirectory=/<PATH TO JORMUNGANDR DIRECTORY>/

# Add seceret when running as leader node (pool node)
ExecStart=<ABSOLUTE PATH TO JORMUNGANDR DIRECTORY>/jormungandr --genesis-block-hash 8e4d2a343f3dcf9330ad9035b3e8d168e6728904262f2c434a4f8f934ec7b676 --config ./stakepool-config.yaml

# Output to journald
# to view type journalctl on terminal
StandardOutput=journal
StandardError=journal
SyslogIdentifier=jormungandr_reboot

LimitNOFILE=8192

Restart=on-failure
RestartSec=5
# Add username
User=<username>
Group=users

[Install]
WantedBy=multi-user.target
